# SPDX-FileCopyrightText: 2026 Juan Medina
# SPDX-License-Identifier: MIT

BasedOnStyle: llvm
---
Language: Cpp
Standard: c++20
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup

IncludeCategories:
  # Project headers: "file.h", "something.hpp"
  - Regex: '"[^"]+\.(h|hpp)"'
    Priority: 1

  # raylib, we need it before windows.h
  - Regex: '<raylib\.h>'
    Priority: 2

  # Windows header, must be before other system headers
  - Regex: '<windows\.h>'
    Priority: 3

  # System + system headers: <spdlog/...>, <vector>, <string>
  - Regex: '<.*>'
    Priority: 4

  # Relative includes: ../something
  - Regex: '\.\./.*'
    Priority: 5

  # Fallback
  - Regex: '.*'
    Priority: 6

AccessModifierOffset: -4
AlignEscapedNewlines: DontAlign
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
ColumnLimit: 120
DerivePointerAlignment: false
FixNamespaceComments: true
IndentPPDirectives: AfterHash
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Right
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceAroundPointerQualifiers: After
SpaceBeforeCaseColon: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeParens: Never
SpaceBeforeRangeBasedForLoopColon: false
TabWidth: 4
UseTab: Never