name: Deploy Emscripten build to GitHub Pages

on:
    release:
        types: [ published ]

permissions:
    contents: read
    pages: write
    id-token: write

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4
                with:
                    submodules: recursive
                    lfs: true

            -   name: Set up Python
                uses: actions/setup-python@v5
                with:
                    python-version: '3.x'

            -   name: Set up Emscripten
                uses: mymindstorm/setup-emsdk@v14

            -   name: Configure and build (Emscripten)
                run: |
                    mkdir build
                    cd build
                    emcmake cmake .. -DCMAKE_BUILD_TYPE=Release -DENABLE_VERSION_BUMP=OFF
                    cmake --build . --config Release

            -   name: Prepare deployment folder
                run: |
                    mkdir deploy
                    cp build/index.* deploy/
                    cp build/favicon.ico deploy/

            -   name: Upload artifact
                uses: actions/upload-pages-artifact@v3
                with:
                    path: deploy

            -   name: Deploy to GitHub Pages
                id: deployment
                uses: actions/deploy-pages@v4
